.f-comments-box {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 16px;
  border: solid 1px var(--calliper-color-grey);
  box-shadow: 0px 2px 5px 0px var(--calliper-color-grey);
  width: 300px;
  height: 430px;
}

.f-comments-box__thread {
  margin: 16px 0;
  padding: 0;
  list-style: none;
  height: 300px;
  overflow-y: auto;
}
