.f-comments-box {
  border-radius: 8px;
  padding: 16px;
  border: solid 1px var(--calliper-color-grey);
  box-shadow: 0px 2px 5px 0px var(--calliper-color-grey);
  width: 300px;
  min-height: 100px;
  height: auto;
}
